[Desktop Entry]
Encoding=UTF-8
Name=Boca Chica tx
Comment=Plasmoid For Boca Chica Texas Road Closures, and TFRs
Type=Service

X-KDE-Library=plasma_applet_tutorial
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Pizzarules668
X-KDE-PluginInfo-Email=Colin.Sutter1@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=io.Pizzarules668.BocaChicaTx
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Online Services
